#!/bin/sh

# Configuration file for the headless install
# This should be changed automatically
# You can follow the directions below for a manual install,
# and build it with overlay.sh in the root of the repo

METHOD="wifi" # Can be wifi or ethernet
NEW_HOSTNAME="minklipper" # Applies regardless of connection method

PASSPHRASE="" # (Root User) Leave blank for no SSH password

# [WIFI]
# If you did not chose wifi, COMMENT the lines below
# If you chose wifi, UNCOMMENT the lines below
# Change the values to match your network
COUNTRY="US" # iso/iec alpha2 country code
SSID="Network Name"
PSK="Network Password"